__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
.venv/
venv/

runs/
NOMAD/runs/
NOMAD_RC5/runs/
NOMAD_RC5/models/
NOMAD_RC5/models/
NOMAD_test1/runs/
NOMAD/tensorboard_logs/
NOMAD_RC5/tensorboard_logs/
external/

slurm-*.out
slurm-*.err
*.log
